<div class="label">{{ $ctrl.data.label }}</div>
<div class="customer">{{ $ctrl.data.customer }}</div>
<div class="amount" ng-class="{'negative': $ctrl.data.amount < 0}">{{ $ctrl.data.amount | currency }}</div>
