floorplan {
  color: whitesmoke;
  display: block;
  background-color: crimson;
  margin: 0 5px 10px 5px;
  padding: 2px 4px;
  border-radius: 5px;
  &.valid {
    background-color: forestgreen;
  }
  .label {
    font-weight: bold;
  }
  .customer {
    font-size: 12px;
  }
  .amount {
    background-color: whitesmoke;
    border-radius: 5px;
    color: forestgreen;
    padding: 2px 4px;
    &.negative {
      color: crimson;
    }
  }
}
