@import '../theme.scss';

ova-planning {
    i {
        &.icon {
            font-style: normal;
        }
    }
    #month-view {
        .week-label {
            cursor: pointer;
            text-align: center;
            &:hover {
                text-decoration: underline;
            }
        }
        .ova-planning-days-label {
            div {
                padding: 10px 10px;
            }
        }
        > div:not(:first-child) {
            border: 1px solid $gray;
            &:not(:last-child) {
                border-bottom: none;
            };
            > div:not(:first-child) {
                border-right: 1px solid $gray;
                &:nth-child(2) {
                    border-left: 1px solid $gray;
                }
                &:last-child {
                    border-right: none;
                }
            };
        }
        .day {
            position: relative;
            height: 100%;
            max-height: 100%;
            &:first-child {
                border-left: 1px solid grey;
            }
            &.today {
                .ink {
                    color: red;
                }
            }
            .day-box {
                overflow: overlay;
                max-height: 100%;
            }
            .ink {
                color: black;
                font-weight: bold;
                font-family: monospace;
                background-color: white;
                padding: 0 0 0 1px;
                position: absolute;
                right: 0;
                bottom: 0;
                border-top: 1px solid $gray;
                border-left: 1px solid $gray;
                height: 20px;
                width: 20px;
                text-align: center;
                line-height: 20px;
            }
        }
        .event {
            background-color: orange;
            color: whitesmoke;
        }
    }
    #week-view {
        .ova-planning-days-label {
            padding-left: 50px;
            font-size: 22px;
        }
    }
    #trimester-view {
        .ova-planning-days-label {
            text-align: center;
            font-size: 16px;
            border: 1px solid $gray;
            border-bottom: 0;
        }
        .day {
            border: 1px solid $gray;
            &:not(:first-child) {
                border-left: 0;
            }
        }
        .today {
            background-color: gainsboro;
        }
    }
    #ova-planning-template {
        max-width: 100%;

        @each $theme, $value in $themes {
            &.theme-#{$theme} {
                ::-webkit-scrollbar-button {
                    height: 0;
                    width: 0;
                }

                ::-webkit-scrollbar-thumb {
                    min-height: 28px;
                    padding-top: 100px;
                    background-clip: padding-box;
                    background-color: $value;
                }

                ::-webkit-scrollbar {
                    width: 8px;
                    height: 16px;
                }
            }
        }

        .ova-planning-days-label {
            text-transform: capitalize;
        }
    }

    md-content {
        padding-top: 10px;
    }

    .ova-planning-controls {
        .label {
            text-transform: capitalize;
        }
    }

    #ova-planning-chronoline {
        margin-top: -34px;
        font-weight: bold;

        div {
            min-height: 70px;
            width: 50px;
        }
    }
}
