$square-size: 40px;

transport {
  background-color: ghostwhite;
  border: 3px solid darkorange;
  border-radius: 50%;
  color: black;
  display: block;
  float: left;
  font-size: $square-size / 2.5;
  height: $square-size;
  margin: 1px;
  text-align: center;
  overflow: hidden;
  width: $square-size;
  &:before {
    content: '🚚';
  }
  &.green {
    border-color: green;
  }
  &.red {
    border-color: red;
  }
}
