my-appointment {
  font-size: 0.80em;
  background-color: darkslategray;
  color: whitesmoke;
  padding: 5px;
  .preparation-indicator {
    background-color: firebrick;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    &.active {
      background-color: seagreen;
    }
  }
}