@import '../theme.scss';

ova-planning-slot {
    min-height: 70px;
    max-height: 70px;
    border: 1px solid $gray;
    border-right: 0;
    border-bottom: 0;
    display: block;
    overflow: hidden;

    &:last-child {
        border-bottom: 1px solid $gray;
    }

    &.waiting {
        max-height: none;
        flex-direction: column;
        height: min-content;
    }

    .read-only {
        background-color: rgba(200, 20, 20, 0.7);
    }
}
