@import '../theme.scss';

ova-planning-day {
  div {
    &#ova-template-day {
      h2 {
        text-align: center;
        text-transform: capitalize;
        margin: 0;
        height: 40px;
      }
    }
  }
  &:last-child {
    border-right: 1px solid $gray;
    .slot {
      border-right: 1px solid $gray;
    }
  }
}