<!-- Day template -->
<div id="ova-template-day" ng-class="$ctrl.theme">
    <ova-planning-slot layout ng-repeat="slot in $ctrl.slots" slot="slot" class="slot" ng-class="slot.state" ng-click="$ctrl.slotClicked(slot)"></ova-planning-slot>
</div>
<!---->